## Sorting Function

In [28]:
import pandas

In [29]:
dictionary = {"Name" : ["Tejas","Aditya","Prathamesh","Sarthak","Dharmendra"] , "PRN" : [37 , 21 , 11 , 29 , 1] , "Age" : [21 , 26 , 23 , 18 , 90]}

In [44]:
pandas.DataFrame(sorted(zip(dictionary["PRN"] , dictionary["Name"] , dictionary["Age"]))).rename(columns = {0 : "PRN" , 1 : "Name" , 2 : "Age"})

   PRN        Name  Age
0    1  Dharmendra   90
1   11  Prathamesh   23
2   21      Aditya   26
3   29     Sarthak   18
4   37       Tejas   21

In [ ]:
dataframe = pandas.read_csv()